openapi: 3.1.0
info:
  title: TD Bank Account Basic Accounts Customers API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Customers
paths:
  /accounts/{accountId}/customers:
    get:
      operationId: listAccountCustomers
      summary: List Account Holders
      tags:
      - Customers
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account holders
          content:
            application/json:
              schema:
                type: object
                properties:
                  holders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
  /customers/current:
    get:
      operationId: getCurrentCustomer
      summary: Get Current Customer
      tags:
      - Customers
      responses:
        '200':
          description: Current customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
components:
  schemas:
    Customer:
      type: object
      required:
      - customerId
      - name
      properties:
        customerId:
          type: string
        name:
          type: object
          properties:
            first:
              type: string
            last:
              type: string
        addresses:
          type: array
          items:
            type: object
            properties:
              line1:
                type: string
              city:
                type: string
              region:
                type: string
              postalCode:
                type: string
              country:
                type: string
        telephones:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
              type:
                type: string
        email:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              type:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
