openapi: 3.1.0
info:
  title: TD Bank Account Basic Accounts Apps API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Apps
paths:
  /apps:
    get:
      operationId: listApps
      summary: List Apps
      tags:
      - Apps
      responses:
        '200':
          description: Apps
          content:
            application/json:
              schema:
                type: object
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/App'
    post:
      operationId: createApp
      summary: Create App
      tags:
      - Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/App'
      responses:
        '201':
          description: App created
  /apps/{appId}:
    get:
      operationId: getApp
      summary: Get App
      tags:
      - Apps
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: App detail
    put:
      operationId: updateApp
      summary: Update App
      tags:
      - Apps
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/App'
      responses:
        '200':
          description: Updated
components:
  schemas:
    App:
      type: object
      required:
      - name
      properties:
        appId:
          type: string
        name:
          type: string
        description:
          type: string
        redirectUris:
          type: array
          items:
            type: string
        status:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
