openapi: 3.1.0
info:
  title: TD Bank Account Basic Accounts Payees API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Payees
paths:
  /accounts/{accountId}/payees:
    get:
      operationId: listPayees
      summary: List Bill Pay Payees
      tags:
      - Payees
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payees list
          content:
            application/json:
              schema:
                type: object
                properties:
                  payees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payee'
components:
  schemas:
    Payee:
      type: object
      required:
      - payeeId
      - name
      properties:
        payeeId:
          type: string
        name:
          type: string
        nickname:
          type: string
        accountNumber:
          type: string
        address:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
