openapi: 3.2.0
info:
  title: TD Bank Account Basic Accounts Statements API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Statements
paths:
  /accounts/{accountId}/statements:
    get:
      operationId: listStatements
      summary: List Account Statements
      tags:
      - Statements
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Statements list
          content:
            application/json:
              schema:
                type: object
                properties:
                  statements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Statement'
  /accounts/{accountId}/statements/{statementId}:
    get:
      operationId: getStatement
      summary: Get Statement
      tags:
      - Statements
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: statementId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Statement (PDF or metadata)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
components:
  schemas:
    Statement:
      type: object
      required:
      - statementId
      properties:
        statementId:
          type: string
        description:
          type: string
        statementDate:
          type: string
          format: date
        statusType:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
