openapi: 3.1.0
info:
  title: TD Bank Account Basic Accounts Notifications API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Notifications
paths:
  /notifications:
    get:
      operationId: listNotifications
      summary: List Notifications
      tags:
      - Notifications
      parameters:
      - name: category
        in: query
        required: false
        schema:
          type: string
          enum:
          - maintenance
          - consent_revoked
          - consent_changed
      - name: since
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
  /notifications/{notificationId}:
    get:
      operationId: getNotification
      summary: Get Notification
      tags:
      - Notifications
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Notification detail
components:
  schemas:
    Notification:
      type: object
      required:
      - notificationId
      - category
      properties:
        notificationId:
          type: string
        category:
          type: string
        severity:
          type: string
        title:
          type: string
        description:
          type: string
        affectedResources:
          type: array
          items:
            type: string
        consentId:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
