openapi: 3.1.0
info:
  title: TD Bank Account Basic Accounts Tax Forms API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Tax Forms
paths:
  /accounts/{accountId}/tax-forms:
    get:
      operationId: listTaxForms
      summary: List Tax Forms
      tags:
      - Tax Forms
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: taxYear
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Tax forms list
          content:
            application/json:
              schema:
                type: object
                properties:
                  taxForms:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaxForm'
  /accounts/{accountId}/tax-forms/{taxFormId}:
    get:
      operationId: getTaxForm
      summary: Get Tax Form
      tags:
      - Tax Forms
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: taxFormId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tax form PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
components:
  schemas:
    TaxForm:
      type: object
      required:
      - taxFormId
      - taxYear
      - taxFormType
      properties:
        taxFormId:
          type: string
        taxYear:
          type: integer
        taxFormType:
          type: string
        taxFormDate:
          type: string
          format: date
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
