openapi: 3.2.0
info:
  title: TD Bank Account Basic Accounts Rewards API
  description: FDX v6.2 Account Basic endpoint. Returns lightweight account information (accountId, type, displayName, masked number) for every consented TD account so aggregators can enumerate accounts without retrieving full detail.
  version: 1.0.0
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
servers:
- url: https://api.openbanking.amcb.developer.td.com/fdx/v6
  description: Production
- url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
  description: Sandbox
security:
- oauth2: []
tags:
- name: Rewards
paths:
  /rewards-programs:
    get:
      operationId: listRewardsPrograms
      summary: List Rewards Programs
      tags:
      - Rewards
      responses:
        '200':
          description: Reward programs
          content:
            application/json:
              schema:
                type: object
                properties:
                  programs:
                    type: array
                    items:
                      $ref: '#/components/schemas/RewardProgram'
  /rewards-programs/{programId}:
    get:
      operationId: getRewardsProgram
      summary: Get Rewards Program
      tags:
      - Rewards
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reward program detail
components:
  schemas:
    RewardProgram:
      type: object
      required:
      - programId
      - name
      properties:
        programId:
          type: string
        name:
          type: string
        sponsor:
          type: string
        currency:
          type: string
        currentBalance:
          type: number
        category:
          type: string
        memberSince:
          type: string
          format: date
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            accounts_basic_read: Read basic account info
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
