openapi: 3.1.0
info:
  title: TD Bank Bill Payment API
  description: >-
    FDX v6.2 Bill Payment endpoint. Retrieves a consented customer's bill
    payment activity and payees, enabling fintechs to review payment
    history, payee metadata, and recurring billing rules.
  version: '1.0.0'
  contact:
    name: TD Open Banking Developer Support
    url: https://developer.td.com
externalDocs:
  description: TD Open Banking — About Our APIs
  url: https://docs.pat.openbanking.amcb.developer.td.com/guides/about-our-apis-hdi
servers:
  - url: https://api.openbanking.amcb.developer.td.com/fdx/v6
    description: Production
  - url: https://api.openbanking.amcb.developer.td.com/sandbox/fdx/v6
    description: Sandbox
tags:
  - name: Bill Payments
  - name: Payees
security:
  - oauth2: []
paths:
  /accounts/{accountId}/payees:
    get:
      operationId: listPayees
      summary: List Bill Pay Payees
      tags: [Payees]
      parameters:
        - name: accountId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Payees list
          content:
            application/json:
              schema:
                type: object
                properties:
                  payees:
                    type: array
                    items: { $ref: '#/components/schemas/Payee' }
  /accounts/{accountId}/bill-payments:
    get:
      operationId: listBillPayments
      summary: List Bill Payments
      tags: [Bill Payments]
      parameters:
        - name: accountId
          in: path
          required: true
          schema: { type: string }
        - name: startTime
          in: query
          required: false
          schema: { type: string, format: date-time }
        - name: endTime
          in: query
          required: false
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Bill payments list
          content:
            application/json:
              schema:
                type: object
                properties:
                  billPayments:
                    type: array
                    items: { $ref: '#/components/schemas/BillPayment' }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/authorize
          tokenUrl: https://api.openbanking.amcb.developer.td.com/oauth/v1/token
          scopes:
            bill_payments_read: Read bill payment activity
  schemas:
    Payee:
      type: object
      required: [payeeId, name]
      properties:
        payeeId: { type: string }
        name: { type: string }
        nickname: { type: string }
        accountNumber: { type: string }
        address: { type: object }
    BillPayment:
      type: object
      required: [paymentId, amount]
      properties:
        paymentId: { type: string }
        amount: { type: number }
        currency: { type: string }
        payeeId: { type: string }
        status: { type: string }
        scheduledDate: { type: string, format: date }
        postedDate: { type: string, format: date }
        recurring: { type: boolean }
